﻿@model RockPaperScissors.ViewModels.GameViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rock Paper Scissors</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div>
            <input id="playGame" type="button" value="Play" class="btn btn-default"/>
        </div>
        <div>
            @Html.TextBoxFor(m => m.ResultText, new { style = "width: 700px;" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
}

<script type="text/javascript">
    
    $('#playGame').click(function () {
        $.ajax({
            url: '/Game/PlayGame',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#ResultText").val(data.ResultText);
            }
        });
    })
</script>
